  <section class="hero" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right navicon">
          <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <div class="animatedParent">
            <h1 class="animated fadeInDown">LAMP CONSULT LIMITED</h1>
            <h1 style="color: white;">LCL</h1>
            <br>
            <p class="animated fadeInUp">A Tradition Of Excellence, Trust and Impeccable Service</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <a href="#about" class="btn btn-skin btn-scroll">Learn more</a>
        </div>
      </div>
    </div>
  </section>


  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="site-logo">
              <a href="index.html" class="brand">LAMP</a>
            </div>
          </div>


          <div class="col-md-10">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#works">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
            <!-- /.Navbar-collapse -->

          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

  <!-- Section: about -->
  <section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="animatedParent">
            <div class="section-heading text-center animated bounceInDown">
              <h2 class="h-bold">About Us</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">


      <div class="row">


        <div class="col-lg-8 col-lg-offset-2 animatedParent">
          <div class="text-center">
            <p>
              Lamp Consult is an innovative business solutions provider working with companies across all sectors in construction, infrustructural, and business advisory services to name a few.
            </p>
            <p>
              We help clients generate profitable business results and positive social and environmental outcomes. Contact us and we'll help you take your business to the next level. 
            </p>
            <a href="#service" class="btn btn-skin btn-scroll">Our Services</a>
          </div>
        </div>


      </div>
    </div>

  </section>
  <!-- /Section: about -->
<!--
  <section>
    <div class="text-center">
      <div class="container">


        <div class="row">
        <div class="text-center"><h2>TEAM</h2></div>
        <br>
       
          <div class="col-lg-3 col-sm-3 col-md-3">
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
              <h5>NANA YAW ASARE</h5>
            <br>
          </div>

          <div class="col-lg-3 col-sm-3 col-md-3">
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
              <h5>KWAME BOAMAH</h5>
            <br>
          </div>

          <div class="col-lg-3 col-sm-3 col-md-3">
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
              <h5>ABENA ASEIDU</h5>
            <br>
          </div>

          <div class="col-lg-3 col-sm-3 col-md-3">
              <img src="/assets/13.png", class="img-responsive img-thumbnail img-circle">
              <h5>AUDREY AFFUL</h5>
            <br>
          </div>

        </div>
      </div>
    </div>
  </section>-->
  <!-- /Section: about -->
  
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s"></h2>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: services -->
  <section id="service" class="home-section color-dark bg-gray">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div>
            <div class="section-heading text-center">
              <h2 class="h-bold">OUR SERVICES</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center">
      <div class="container">

        <div class="row animatedParent">
          <div class="col-md-4">
            <div class="animated rotateInDownLeft">
              <div class="service-box">
                <div class="service-desc">
                  <h5>CONTRUCTION & ENGINEERING</h5>
                  <div class="divider-header"></div>
                  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                  <div>
                    <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %> 
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slow">
              <div class="service-box">
                <div class="service-desc">
                  <h5>INFRUSTRUCTURAL DEVELOPMENT</h5>
                  <div class="divider-header"></div>
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                  <div>
                    <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %> 
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slow">
              <div class="service-box">
                <div class="service-desc">
                  <h5>PROPERTY MANAGEMENT</h5>
                  <div class="divider-header"></div>
                  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                  <div>
                    <%= image_tag("property.jpg", class: "img-responsive img-thumbnail") %> 
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row animatedParent">
          <div class="col-md-4">
            <div class="animated rotateInDownLeft">
              <div class="service-box">
                <div class="service-desc">
                  <h5>PROJECT MANAGEMENT</h5>
                  <div class="divider-header"></div>
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                  <div>
                    <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %> 
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slow">
              <div class="service-box">
                <div class="service-desc">
                  <h5>ENERGY MANAGEMENT</h5>
                  <div class="divider-header"></div>
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                  <div>
                    <%= image_tag("energy.jpg", class: "img-responsive img-thumbnail") %> 
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <div class="service-box">
                <div class="service-desc">
                  <h5>BUSINESS ADVISORY</h5>
                  <div class="divider-header"></div>
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                  <div>
                    <%= image_tag("business.jpg", class: "img-responsive img-thumbnail") %> 
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: services -->


  <!-- Section: works -->
  <section id="works" class="home-section color-dark text-center bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div>
            <div class="animatedParent">
              <div class="section-heading text-center">
                <h2 class="h-bold animated bounceInDown">Portfolio</h2>
                <div class="divider-header"></div>
                <p>View our portfolio</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">

      <div class="row animatedParent">
        <div class="col-sm-12 col-md-12 col-lg-12">

          <div class="row gallery-item">
            <div class="col-md-3 animated fadeInUp">
              <a href="/assets/1.jpg" title="APPARTMENT BUILDINGS" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                <img src="/assets/1.jpg" class="img-responsive" alt="img">
              </a>
            </div>
            <div class="col-md-3 animated fadeInUp slow">
              <a href="/assets/2.jpg" title="OFFICE SPACES" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                <img src="/assets/2.jpg" class="img-responsive" alt="img">
              </a>
            </div>
            <div class="col-md-3 animated fadeInUp slower">
              <a href="/assets/3.jpg" title="HOMES" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                <img src="/assets/3.jpg" class="img-responsive" alt="img">
              </a>
            </div>
            <div class="col-md-3 animated fadeInUp">
              <a href="/assets/4.jpg" title="STUDIO APPARTMENTS" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
                <img src="/assets/4.jpg" class="img-responsive" alt="img">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- /Section: works -->
  <section id="parallax3" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s"></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="animatedParent">
            <div class="section-heading text-center">
              <h2 class="h-bold animated bounceInDown">Contact us</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>+233 (0)27 7648 388 </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>lampconsult@gmail.com</p>
            <br>
            <p>
              <a href="mailto:info@jeppdavis.com"><button type="submit" class="btn btn-primary btn-lg btn-block" style="color: black;">Send Message</button></a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-clock-o fa-3x mb-3 sr-contact"></i>
            <p>Monday - Friday: 7am - 5pm</p>
          </div>
        </div>
    </div>
  </section>
  <br>
   <section>

    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 text-center">
          <h2 class="section-title"></h2>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: contact -->
  <br>
  <br>
  <!-- google map -->
  <div class="text-center">
  <p id="map-btn2" class="text-center btn btn-blood btn-lg btn-noradius gmap-btn close-map-button btn-hide" data-placement="top" style="color: black;">
    47 NUNGUA LINK ROAD BAATSONA, SPINTEX ROAD, ACCRA | Address: F 393/4 Otwe Street, Accra
    </p>
  </div>
  <!-- google map -->
  <section id="map" class="close-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5936390977567!2d-0.087806685620973!3d5.6268479959209365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf84b127bed507%3A0xed41f842de500381!2sWorkshed!5e0!3m2!1sen!2sgh!4v1502897614431" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /google map -->


  <footer>
      <div class="row">
        <div class="col-md-4">
          <ul class="footer-menu text-center">
            <li></li>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li><br>
            <li><a href="#service">Our Services</a></li>
            <li><a href="#works">Portfolio</a></li>
          </ul>
        </div>
        <div class="copyright" style="font-size: 1.1em;">
          <div class="col-md-4"> &copy; 2016 - 2018 Lamp Consult Company.<br> All Rights Reserved</div>
          <div class="col-md-4 text-center">
            <a href="https://paintknust.herokuapp.com/" style="color: white;">Made by Chairman Web Solutions Company<br> | +233 (0)24 2911 291 |<br> davidadfia@gmail.com</a>
          </div>
        </div>
      </div>
  </footer>






    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Construction and Engineering</h3>
                            <hr class="star-primary">
                            <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                            <p>We work with specialised and experienced construction engineers to build strong and sustainable projects. </p>
                            
                            <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Infrustructural Development</h3>
                            <hr class="star-primary">
                            <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                            <p>Our infrustructures are reliable and will generate optimum effeciency. </p>
                            <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Property Management</h3>
                            <hr class="star-primary">
                            <%= image_tag("property.jpg", class: "img-responsive img-thumbnail") %>
                            <p>With our highly trained team of certified managers you can be sure your property is in good hands.</p>
                            <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Project Management</h3>
                            <hr class="star-primary">
                            <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                            <p>With Lamp Consult your projects will be completed professionally and on time.  </p>
                            <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Energy Management</h3>
                            <hr class="star-primary">
                            <%= image_tag("energy.jpg", class: "img-responsive img-thumbnail") %>
                            <p>We will manage your energy to give you the best and optimum output </p>
                            <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Business Advisory Services</h3>
                            <hr class="star-primary">
                            <%= image_tag("business.jpg", class: "img-responsive img-thumbnail") %>
                            <p>Lamp consult works with experienced bussiness mangants to transform your business to the next level</p>
                            <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>