<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=".">
  <meta name="author" content="David Adafia">
  <title>LAMP CONSULT</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  

  <%= stylesheet_link_tag    "/assets/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "/assets/font-awesome.css" %>
  <%= stylesheet_link_tag    "/assets/nivo-lightbox.css" %>
  <%= stylesheet_link_tag    "/assets/default.css" %>
  <%= stylesheet_link_tag    "/assets/animations.css" %>
  <%= stylesheet_link_tag    "/assets/style.css" %>
  <%= stylesheet_link_tag    "/assets/defaultt.css" %>

  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

  <!-- page loader -->
  <div id="page-loader">
    <div class="loader">
      <div class="spinner">
        <div class="spinner-container con1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container con2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container con3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page loader -->

<%= yield %>

<%= javascript_include_tag "/assets/jquery.min.js" %>
<%= javascript_include_tag "/assets/bootstrap.min.js" %>
<%= javascript_include_tag "/assets/jquery.sticky.js" %>
<%= javascript_include_tag "/assets/stellar.js" %>
<%= javascript_include_tag "/assets/jquery.easing.min.js" %>
<%= javascript_include_tag "/assets/jquery.scrollTo.js" %>
<%= javascript_include_tag "/assets/jquery.appear.js" %>
<%= javascript_include_tag "/assets/nivo-lightbox.min.js" %>
<%= javascript_include_tag "/assets/custom.js" %>
<%= javascript_include_tag "/assets/css3-animate-it.js" %>
<%= javascript_include_tag "/assets/gmap.js" %>


</body>
</html>
