<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Lamp Consultancy Ghana Business">
  <meta name="author" content="David Adafia">
  <title>LAMP CONSULT</title>

  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "/assets/freelancer.css" %>
  <%= stylesheet_link_tag    "/assets/bootstrap.css" %>



</head>
<body>
<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/homes/index">
                     <span class="light">LAMP CONSULT</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <%= link_to 'ABOUT',homes_index_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to 'SERVICES',services_index_path %>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">CONTACTS</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	<%= yield %>

	<!-- Footer -->
    <footer class="text-center" id="contact">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-sm-4">
                        <h3>Location</h3>
                        <p>P.O.Box AN 16646
                            <br>Accra North Ghana</p>
                    </div>
                    <div class="footer-col col-sm-4">
                        <h3>Contact Us</h3>
                        <p>0277648389
                            <br>consultlamp@gmail.com</p>
                    </div>
                    <div class="footer-col col-sm-4">
                        <h3>Social Media</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/Lamp-Consult-Ltd-141413359807133/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Lamp Consult Ltd. 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
